* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: inherit;
}
.list-top {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 4rem;
  background-color: #8560a9;
}

img {
  position: relative;
}

.list-top-img1 {
  left: 3%;
  top: 0.6rem;
  width: 1.8rem;
  height: 1.8rem;
}

.list-top-img2 {
  width: 2.09rem;
  height: 2.4rem;
  top: 0.8rem;
  left: 40%;
  filter: invert(84%) sepia(3%) saturate(4423%) hue-rotate(32deg)
    brightness(105%) contrast(100%);
}

.list-top-img3 {
  width: 2.4rem;
  height: 2.4rem;
  top: 0.9rem;
  float: right;
  right: 5%;
  border-radius: 50%;
}

.list-main {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  z-index: 20;
}

.details-top {
  width: 100%;
  padding: 1.5rem;
}

.top-button {
  background-color: white;
  color: #8560a9;
  border: 0.1rem solid #8560a9;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  width: 9rem;
  height: 2rem;
  margin-bottom: 1.2rem;
}

.details-top-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #453257;
}

.user-card {
  margin-bottom: 7rem;
}

.user-card-img {
  float: left;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.user-card-information {
  float: left;
  line-height: 2rem;
}

.username {
  display: block;
  font-size: 1.4rem;
  color: #67616d;
}

.usertime {
  display: block;
  font-size: 1.2rem;
  color: #bababa;
}

hr {
  color: #e8e8e8;
  height: 2px;
  min-width: 39rem;
  position: relative;
  left: 2rem;
}
.details-select-list {
  text-align: center;
  height: 4.5rem;
  display: inline-block;
  margin: 0 auto;
  color: #8c8c8c;
  display: flex;
}

.details-select {
  flex: 1;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
  height: 2.5rem;
}

.details-select1 {
  color: #aecb4f;
  border-right: 1px solid #e8e8e8;
}

.details-select2 {
  border-right: 1px solid #e8e8e8;
}

.details-select-img {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 2px;
  top: 0.4rem;
  filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(323deg) brightness(95%)
    contrast(91%);
}

.details-select-img1 {
  width: 1.67rem;
  height: 1.67rem;
  filter: invert(76%) sepia(70%) saturate(369%) hue-rotate(25deg)
    brightness(92%) contrast(88%);
}

.details-content {
  width: 100%;
  /* height: 38rem; */
  margin: 2rem 0 0 2rem;
}
.details-content-img {
  margin-bottom: 2rem;
  height: 15rem;
}

.details-content-img1 {
  float: left;
  width: 70%;
  height: 15rem;
  border-radius: 13px;
}

.details-content-img2 {
  float: right;
  width: 25%;
  height: 15rem;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.details-content-para {
  width: 90%;
  font-size: 1.4rem;
  color: #67616d;
  /* margin: 2rem; */
}

.para-colorChange {
  background-image: linear-gradient(
    to bottom,
    rgb(103, 97, 109),
    rgb(250, 249, 252)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.details-content-btn {
  float: right;
  display: block;
  width: 8rem;
  height: 2rem;
  text-align: center;
  position: relative;
  top: -3rem;
  right: 4rem;
  border: 1px solid #d5ef7f;
  background-color: #d5ef7f;
  font-size: 1rem;
  border-radius: 10px;
}

.details-time {
  width: 100%;
  /* height: 13rem; */
  margin-bottom: 1.5rem;
}

.details-time-title {
  margin: 2rem;
  padding-left: 1rem;
  color: #8560a9;
  font-size: 1.6rem;
  border-left: 4px solid #8560a9;
  font-weight: 700;
}

.details-time-box {
  display: flex;
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.details-time-col1 {
  flex: 1;
  font-size: 1.6rem;
  /* border-right: 2px solid black; */
}

.details-time-col1:first-child {
  border-right: 2px solid #faf9fc;
}

.details-time-logo {
  width: 1.6rem;
  height: 1.38rem;
  filter: invert(97%) sepia(65%) saturate(696%) hue-rotate(14deg)
    brightness(95%) contrast(97%);
}

.time-details {
  display: block;
  font-size: 3.2rem;
  color: #aecb4f;
  padding: 1rem;
  margin-left: 1.2rem;
}

.time-details-2 {
  font-size: 1.6rem;
}

.details-map-img {
  padding: 2rem;
  width: 100%;
  height: auto;
}

.details-map-title {
  margin-left: 2rem;
  font-size: 1.4rem;
}

.details-map-title-1 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.details-comment {
  padding-left: 2rem;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}
.details-comment-1 {
  padding-bottom: 4rem;
  border-bottom: 2px solid #e8e8e8;
}
.details-comment-2 {
  padding-bottom: 4rem;
}
.details-comment-2 .details-comment-box {
  margin-right: 1.5rem;
}

.details-comment-box {
  display: inline-block;
  position: relative;
  top: 1.3rem;
}
.details-comment-logo {
  width: 1.2rem;
  height: 0.98rem;
  filter: invert(61%) sepia(38%) saturate(338%) hue-rotate(228deg)
    brightness(92%) contrast(92%);
}

.details-comment-list {
  list-style: none;
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  top: 2rem;
}

.details-comment-img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}

.details-comment-item {
  display: inline-block;
  margin: 0 3px;
}

.details-message {
  margin-top: 2rem;
  width: 100%;
}
.details-message-box {
  margin-bottom: -1rem;
}
.details-message-box:last-child {
  margin-bottom: 4rem;
}
.details-message-box img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-left: 2rem;
}
.details-message-box-right {
  padding-left: 6rem;
  position: relative;
  top: -3rem;
}
.detail-message-box-user img {
  width: 1.6rem;
  height: 1.3rem;
  float: right;
  right: 3rem;
  filter: invert(93%) sepia(29%) saturate(694%) hue-rotate(14deg)
    brightness(99%) contrast(89%);
}
.userName {
  font-size: 1.2rem;
  color: #8560a9;
  margin-right: 2rem;
}
.userTime {
  color: #bababa;
}
.details-message-para {
  margin-top: 1rem;
  font-size: 1.4rem;
  width: 90%;
  color: #67616d;
}
.details-footer {
  padding-top: 2rem;
  width: 100%;
  height: 6rem;
  position: relative;
  left: 0;
  bottom: 0;
}
.details-footer img {
  width: 2.32rem;
  height: 2.34rem;
}
.details-footer-left {
  width: 66.666667%;
  height: 100%;
  float: left;
  background-color: #8560a9;
  display: flex;
}
.details-footer-left a {
  flex: 1;
  text-align: center;
}
.details-footer-left a img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.details-footer-right {
  width: 33.333334%;
  height: 100%;
  float: right;
  background-color: #d5ef7f;
  font-size: 1.4rem;
  text-align: center;
}
.details-footer-right a img {
  top: 0.8rem;
  margin-right: 0.5rem;
}
.details-footer-right a span {
  position: relative;
  top: 0.3rem;
}
.search-main {
  opacity: 0;
  position: fixed;
  width: 80%;
  height: 100%;
  transition: opacity 0.3;
  overflow: hidden;
}
.search__body {
  height: 85%;
  background-color: #453257;
}
.search-date {
  height: 30%;
}
.search-date-top,
.search-channel-top {
  font-size: 1.2rem;
  color: #ac8ec9;
  text-align: center;
  padding-top: 1.5rem;
}
.search-date-top span,
.search-channel-top span {
  border-bottom: 2px solid #8560a9;
}
.search-date-main {
  margin-top: 2rem;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 3rem;
  margin-left: 2.8rem;
}
.search-date-span {
  border-radius: 15px;
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
}
.later-details {
  width: 90%;
  height: 3.8rem;
  background-color: #ffffff;
  padding-top: 0.5rem;
  transition: opacity 0.5s;
  display: none;
}

.later-details img {
  width: 1.2rem;
  height: 1.03rem;
  filter: invert(100%) sepia(79%) saturate(1069%) hue-rotate(14deg)
    brightness(98%) contrast(91%);
}
.search-date-active {
  background-color: #e5f7a9;
  /* border-radius: 15px; */
  color: #453257;
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
}
.search-channel {
  height: 70%;
}
.search-channel-main {
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.search-channel-btn {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 15px;
  margin: 1rem;
}
.search-channel-active {
  background-color: #e5f7a9;
  color: #453257;
}
.search-btn {
  width: 100%;
  height: 15%;
  background-color: #bababa;
  text-align: center;
  font-size: 1.6rem;
}
.search-btn img {
  width: 1.2rem;
  height: 1.2rem;
}
.serch-btn-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-left {
  animation: slide-in-left 0.5s ease-in-out both;
}
.slide-right {
  animation: slide-in-right 0.5s ease-in-out both;
}
.slide-left-out {
  animation: slide-on-left 0.5s ease-in-out both;
}
.slide-right-out {
  animation: slide-on-right 0.5s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-on-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(80%);
  }
}
@keyframes slide-on-right {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(1);
  }
}
