* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: black;
}
.list-top {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 4rem;
  background-color: #8560a9;
}

img {
  position: relative;
}

.list-top-img1 {
  left: 3%;
  top: 0.6rem;
  width: 1.8rem;
  height: 1.8rem;
}

.list-top-img2 {
  width: 2.09rem;
  height: 2.4rem;
  top: 0.8rem;
  left: 40%;
  filter: invert(84%) sepia(3%) saturate(4423%) hue-rotate(32deg)
    brightness(105%) contrast(100%);
}

.list-top-img3 {
  width: 2.4rem;
  height: 2.4rem;
  top: 0.9rem;
  float: right;
  right: 5%;
  border-radius: 50%;
}

.details-main {
  width: 100%;
  position: absolute;
  top: 4rem;
  bottom: 0;
  overflow-x: hidden;
}

.details-top {
  width: 100%;
  padding: 1.5rem;
}

.top-button {
  background-color: white;
  color: #8560a9;
  border: 0.1rem solid #8560a9;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  width: 9rem;
  height: 2rem;
  margin-bottom: 1.2rem;
}

.details-top-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #453257;
}

.user-card {
  margin-bottom: 7rem;
}

.user-card-img {
  float: left;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 2rem;
  border-radius: 50%;
}
.user-card-information {
  float: left;
  line-height: 2rem;
}

.username {
  display: block;
  font-size: 1.4rem;
  color: #67616d;
}

.usertime {
  display: block;
  font-size: 1.2rem;
  color: #bababa;
}

hr {
  color: #e8e8e8;
  height: 2px;
  min-width: 39rem;
  position: relative;
  left: 2rem;
}
.details-select-list {
  height: 4.5rem;
  display: inline-block;
  min-width: 39rem;
  color: #8c8c8c;
}

.details-select {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
  padding: 0 2rem 0 2rem;
}

.details-select1 {
  color: #aecb4f;
  border-right: 1px solid #e8e8e8;
}

.details-select2 {
  border-right: 1px solid #e8e8e8;
}

.details-select-img {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 2px;
  filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(323deg) brightness(95%)
    contrast(91%);
}

.details-select-img1 {
  width: 1.67rem;
  height: 1.67rem;
  filter: invert(76%) sepia(70%) saturate(369%) hue-rotate(25deg)
    brightness(92%) contrast(88%);
}

.details-content {
  width: 100%;
  height: 38rem;
  margin: 2rem 0 0 2rem;
}
.details-content-img {
  margin-bottom: 2rem;
  height: 15rem;
}

.details-content-img1 {
  float: left;
  width: 70%;
  height: 15rem;
  border-radius: 13px;
}

.details-content-img2 {
  float: right;
  width: 25%;
  height: 15rem;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.details-content-para {
  width: 90%;
  font-size: 1.4rem;
  color: #67616d;
  /* margin: 2rem; */
}

.para-colorChange {
  background-image: linear-gradient(
    to bottom,
    rgb(103, 97, 109),
    rgb(250, 249, 252)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.details-content-btn {
  float: right;
  display: block;
  width: 8rem;
  height: 2rem;
  text-align: center;
  position: relative;
  top: -3rem;
  right: 4rem;
  border: 1px solid #d5ef7f;
  background-color: #d5ef7f;
  font-size: 1rem;
  border-radius: 10px;
}

.details-time {
  width: 100%;
  height: 15rem;
}

.details-time-title {
  margin: 2rem;
  padding-left: 1rem;
  color: #8560a9;
  font-size: 1.6rem;
  border-left: 4px solid #8560a9;
  font-weight: 700;
}

.details-time-box {
  display: flex;
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.details-time-col1 {
  flex: 1;
  font-size: 1.6rem;
  /* border-right: 2px solid black; */
}

.details-time-col1:first-child {
  border-right: 2px solid #faf9fc;
}

.details-time-logo {
  width: 1.6rem;
  height: 1.38rem;
  filter: invert(97%) sepia(65%) saturate(696%) hue-rotate(14deg)
    brightness(95%) contrast(97%);
}

.time-details {
  display: block;
  font-size: 3.2rem;
  color: #aecb4f;
  padding: 1rem;
}

.time-details-2 {
  font-size: 1.6rem;
}

.details-map-img {
  padding: 2rem;
  width: 100%;
  height: auto;
}
