* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.list-top {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 4rem;
  background-color: #8560a9;
}

img {
  position: relative;
}

.list-top-img1 {
  float: left;
  margin: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.list-top-img2 {
  width: 2.09rem;
  height: 2.4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: invert(84%) sepia(3%) saturate(4423%) hue-rotate(32deg)
    brightness(105%) contrast(100%);
}

.list-top-img3 {
  width: 2.4rem;
  height: 2.4rem;
  float: right;
  margin: 1rem;
  border-radius: 50%;
}

.list-main {
  position: absolute;
  top: 3rem;
  bottom: 0;
}

.list-main-card {
  width: 100%;
  min-width: 32rem;
  padding: 5%;
  position: relative;
  margin-bottom: 1rem;
}

.card-top {
  height: 15%;
  margin-bottom: 1rem;
}

.card-top-username {
  font-size: 1.2rem;
}

.card-top-button {
  float: right;
  right: 0;
  background-color: white;
  color: #8560a9;
  border: 0.1rem solid #8560a9;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  width: 9rem;
  position: relative;
  top: 1rem;
}

.card-top-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 10%;
}

.card-title {
  font-size: 1.8rem;
  color: #453257;
  font-weight: 600;
}
.card-img-box {
  float: right;
  right: 0;
  position: relative;
  top: -7%;
  padding: 2rem 0 8rem 0;
}

.card-img {
  width: 6.8rem;
  height: 6.8rem;
  border: 1px solid black;
}

.card-time {
  color: #8560a9;
  padding: 1rem 0 1rem 0;
}

.card-time-img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(43%) sepia(66%) saturate(354%) hue-rotate(227deg)
    brightness(87%) contrast(91%);
}

.card-content {
  font-size: 1.4rem;
  color: #67616d;
  padding-bottom: 1.2rem;
}

.card-footer {
  font-size: 1.2rem;
  color: #453257;
  position: relative;
  bottom: 0;
}

.card-footer-other {
  color: #ac8ec9;
}

.card-footer1 {
  display: inline-block;
}
.card-footer2 {
  display: inline-block;
  padding-left: 1rem;
}

.card-footer-img {
  width: 1rem;
  height: 0.98rem;
}

.card-footer-img1 {
  filter: invert(80%) sepia(7%) saturate(3474%) hue-rotate(29deg)
    brightness(98%) contrast(82%);
}

.card-footer-img2 {
  filter: invert(56%) sepia(21%) saturate(6719%) hue-rotate(325deg)
    brightness(98%) contrast(108%);
}

.card-footer-img3 {
  filter: invert(71%) sepia(18%) saturate(927%) hue-rotate(221deg)
    brightness(85%) contrast(84%);
}

hr {
  width: 95%;
  position: relative;
  left: 2rem;
  color: #e8e8e8;
  height: 0.2rem;
}
