* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.main {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgb(133, 96, 169, 0.7),
      rgb(133, 96, 169, 1)
    ),
    url(../img/Street-Dance-01.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

header {
  /* position: absolute; */
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d5ef7f;
  display: inline-block;
}

.top {
  text-transform: uppercase;
  backface-visibility: hidden;
  height: 220px;
}

.top-first-span {
  display: block;
  /* height: 20px; */
  white-space: nowrap;
}

.top-second-span {
  display: block;
  padding: 30px;
  font-size: 24px;
  font-weight: 600;
}

.top-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 1px solid #d5ef7f;
  border-radius: 50%;
  position: relative;
  top: 25px;
}

.logo {
  width: 48px;
  height: 48px;
  filter: invert(84%) sepia(3%) saturate(4423%) hue-rotate(32deg)
    brightness(105%) contrast(100%);
}

.login {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: block;
  position: relative;
  font-size: 16px;
  width: 240px;
}

.login-logo {
  width: 13.3px;
  height: 13.3px;
  filter: invert(78%) sepia(14%) saturate(726%) hue-rotate(216deg)
    brightness(107%) contrast(80%);
  position: relative;
  top: 31px;
  left: -95px;
}

.login-input1 {
  margin-bottom: 30px;
  width: 240px;
  height: 40px;
  border-radius: 20px;
  /* background-color: transparent; */
  background-color: rgb(255, 255, 255, 0.2);
  border: 1px solid #fff;
  outline: none;
  padding-left: 35px;
}

.login-input2 {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  padding-left: 35px;
}

.footer a {
  display: block;
  align-items: center;
  height: 64px;
  color: #453257;
  font-weight: bold;
  text-align: center;
  background-color: #d5ef7f;
  line-height: 64px;
}
