* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: black;
}
.list-top {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: 4rem;
  background-color: #8560a9;
}

img {
  position: relative;
}

.list-top-img1 {
  left: 3%;
  top: 0.6rem;
  width: 1.8rem;
  height: 1.8rem;
}

.list-top-img2 {
  width: 2.09rem;
  height: 2.4rem;
  top: 0.8rem;
  left: 40%;
  filter: invert(84%) sepia(3%) saturate(4423%) hue-rotate(32deg)
    brightness(105%) contrast(100%);
}

.list-top-img3 {
  width: 2.4rem;
  height: 2.4rem;
  top: 0.9rem;
  float: right;
  right: 5%;
  border-radius: 50%;
}
.likes-main {
  width: 100%;
  position: relative;
  top: 1.5rem;
  bottom: 0;
  overflow-x: hidden;
}
.likes-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.top-logo {
  display: inline-block;
  width: 7.2rem;
  height: 7.2rem;
  border: 3px solid #8560a9;
  border-radius: 50%;
  position: relative;
  top: 2.5rem;
  margin-bottom: 4.5rem;
}

.logo {
  width: 4.8rem;
  height: 4.8rem;
  position: relative;
  top: 0.8rem;
}

.likes-title h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.likes-title span {
  font-size: 1.4rem;
  color: #8560a9;
}

.details-select-list {
  text-align: center;
  height: 4.5rem;
  display: inline-block;
  margin: 0 auto;
  color: #8c8c8c;
  display: flex;
}

.details-select {
  flex: 1;
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: 1rem;
  height: 2.5rem;
}

.details-select1 {
  color: #aecb4f;
  border-right: 1px solid #e8e8e8;
}

.details-select2 {
  border-right: 1px solid #e8e8e8;
}

.details-select-img {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 2px;
  top: 0.4rem;
  filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(323deg) brightness(95%)
    contrast(91%);
}

.details-select-img1 {
  width: 1.67rem;
  height: 1.67rem;
  filter: invert(76%) sepia(70%) saturate(369%) hue-rotate(25deg)
    brightness(92%) contrast(88%);
}

.list-main-card {
  width: 100%;
  min-width: 32rem;
  padding: 5%;
  position: relative;
  margin-bottom: 1rem;
}

.card-top {
  height: 15%;
  margin-bottom: 1rem;
}

.card-top-username {
  font-size: 1.2rem;
}

.card-top-button {
  float: right;
  right: 0;
  background-color: white;
  color: #8560a9;
  border: 0.1rem solid #8560a9;
  border-radius: 1.2rem;
  font-size: 1.2rem;
  width: 9rem;
  position: relative;
  top: 1rem;
}

.card-top-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  top: 10%;
}

.card-title {
  font-size: 1.8rem;
  color: #453257;
  font-weight: 600;
}
.card-img-box {
  float: right;
  right: 0;
  position: relative;
  top: -7%;
  padding: 2rem 0 8rem 0;
}

.card-img {
  width: 6.8rem;
  height: 6.8rem;
  border: 1px solid black;
}

.card-time {
  color: #8560a9;
  padding: 1rem 0 1rem 0;
}

.card-time-img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(43%) sepia(66%) saturate(354%) hue-rotate(227deg)
    brightness(87%) contrast(91%);
}

.card-content {
  font-size: 1.4rem;
  color: #67616d;
  padding-bottom: 1.2rem;
}

.card-footer {
  font-size: 1.2rem;
  color: #453257;
  position: relative;
  bottom: 0;
}

.card-footer-other {
  color: #ac8ec9;
}

.card-footer1 {
  display: inline-block;
}
.card-footer2 {
  display: inline-block;
  padding-left: 1rem;
}

.card-footer-img {
  width: 1rem;
  height: 0.98rem;
}

.card-footer-img1 {
  filter: invert(80%) sepia(7%) saturate(3474%) hue-rotate(29deg)
    brightness(98%) contrast(82%);
}

.card-footer-img2 {
  filter: invert(56%) sepia(21%) saturate(6719%) hue-rotate(325deg)
    brightness(98%) contrast(108%);
}

.card-footer-img3 {
  filter: invert(71%) sepia(18%) saturate(927%) hue-rotate(221deg)
    brightness(85%) contrast(84%);
}
.card-hr {
  width: 95%;
  position: relative;
  left: 2rem;
  color: #e8e8e8;
  height: 0.2rem;
}
